---
import Layout from '@/layouts/Layout.astro'
import IconCheckmark from '@/components/IconCheckmark.astro'
import { Image } from 'astro:assets'
import developerImage from '@/images/developer.svg'
import mindMapImage from '@/images/mind-map.svg'
import codeReviewImage from '@/images/code-review.svg'
import dotsTriangle from '@/images/dots-triangle.svg'
import dotsRectangle from '@/images/dots-rectangle.svg'
---

<Layout title="Astro Portfolio Starter">
  <main>
    <section class="mx-auto max-w-3xl text-white mt-40">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias id
      recusandae dolorum aspernatur alias cupiditate qui sed quae voluptatum
      illo error nemo tenetur commodi laboriosam enim earum suscipit
      voluptatibus tempore sequi, molestiae velit totam aut? Blanditiis officia
      vitae, dignissimos corrupti iure voluptate dolore molestias eius nemo
      obcaecati deserunt recusandae commodi. Lorem ipsum dolor sit amet
      consectetur, adipisicing elit. Ut deserunt quas ducimus mollitia et
      doloribus maiores veritatis, reiciendis expedita sed vero dolorem
      repellendus iure, quae dolor, consequuntur qui nisi iusto esse magni
      aperiam incidunt iste! Velit mollitia ab sunt odio ipsa esse eligendi non?
      Voluptatem saepe animi recusandae possimus officia!
    </section>
  </main>
</Layout>
