---
import Layout from '@/layouts/Layout.astro'
import IconCheckmark from '@/components/IconCheckmark.astro'
import { Image } from 'astro:assets'
import developerImage from '@/images/developer.svg'
import mindMapImage from '@/images/mind-map.svg'
import codeReviewImage from '@/images/code-review.svg'
---

<Layout title="Astro Portfolio Starter">
  <main>
    <section
      class="hero mx-auto max-w-3xl flex flex-col sm:flex-row justify-between py-16"
    >
      <div class="text-4xl font-bold text-center sm:text-left">
        <div class="leading-tight">Astro Portfolio Starter</div>
        <div class="text-green-700 leading-tight">
          Powered by Astro, Tailwind &amp; Vue
        </div>
      </div>
      <div class="mt-8 sm:mt-0">
        <Image src={developerImage} alt="developer" class="mx-auto sm:mx-0" />
      </div>
    </section>
    <!-- end hero -->

    <section class="max-w-3xl mx-auto">
      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore non
        ipsa sed hic illum ex corrupti quasi, corporis consequatur praesentium
        fugiat perferendis sunt molestias temporibus placeat magnam aspernatur
        sequi iure pariatur reprehenderit maxime doloremque ut facilis illo.
        Corrupti, vel et?
      </p>

      <div class="flex justify-between items-center my-14">
        <div class="w-full sm:w-1/2 px-8 py-8 sm:py-0">
          <Image src={mindMapImage} alt="mind map" />
        </div>
        <div class="w-1/2 px-8 hidden sm:flex justify-end">
          <Image src={codeReviewImage} alt="code review" />
        </div>
      </div>
    </section>

    <section
      class="projects max-w-3xl mx-auto text-xl border-t border-gray-300 border-b py-16 mb-16 relative"
    >
      <h3 class="font-bold">Here are some projects I've worked on:</h3>

      <div class="absolute right-0 transform rotate-180">
        <div>hihi</div>
        <!-- <svg width="170px" height="170px"
          ><use xlink:href="#dots-triangle"></use></svg
        > -->
      </div>

      <ul class="mt-10 space-y-6">
        <li class="flex items-start">
          <IconCheckmark />
          <span class="ml-4">
            <p class="font-semibold">Project Name 1</p>
            <p class="text-gray-600 mt-2">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Veritatis ad neque doloribus quod exercitationem est nulla
              reiciendis in unde eum.
            </p>
          </span>
        </li>
        <li class="flex items-start">
          <IconCheckmark />
          <span class="ml-4">
            <p class="font-semibold">Project Name 2</p>
            <p class="text-gray-600 mt-2">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Veritatis ad neque doloribus quod exercitationem est nulla
              reiciendis in unde eum.
            </p>
          </span>
        </li>
        <li class="flex items-start">
          <IconCheckmark />
          <span class="ml-4">
            <p class="font-semibold">Project Name 3</p>
            <p class="text-gray-600 mt-2">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Veritatis ad neque doloribus quod exercitationem est nulla
              reiciendis in unde eum.
            </p>
          </span>
        </li>
        <li class="flex items-start">
          <IconCheckmark />
          <span class="ml-4">
            <p class="font-semibold">Project Name 4</p>
            <p class="text-gray-600 mt-2">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Veritatis ad neque doloribus quod exercitationem est nulla
              reiciendis in unde eum.
            </p>
          </span>
        </li>
      </ul>
    </section>

    <section class="about max-w-3xl mx-auto relative">
      <h3 class="font-bold">Get to know me</h3>

      <div class="absolute left-0 transform -translate-x-full">
        <div>howdy</div>
        <!-- <svg width="170px" height="170px"><use xlink:href="#dots-triangle" /></svg> -->
      </div>
      <div class="flex items-center mt-6">
        <img
          src="https://i.pravatar.cc/300"
          alt="avatar"
          class="rounded-full w-32 h-32"
        />
        <p class="ml-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
          quam praesentium eligendi autem voluptate vero quo voluptatem, qui
          possimus debitis iste amet ea voluptatum aut consectetur. Velit quos
          at explicabo?
        </p>
      </div>
    </section>

    <section class="contact bg-gray-100 mt-10 py-12">
      <div class="max-w-3xl mx-auto relative">
        <h3 class="font-bold">Contact me</h3>

        <div class="absolute right-0 top-0 transform rotate-180">
          <div>yoooo</div>
          <!-- <svg width="170px" height="170px"
            ><use xlink:href="#dots-triangle"></use></svg
          > -->
        </div>

        <p class="mt-6">
          Static sites cannot submit forms on their own. However, services like
          <a href="" class="font-semibold text-green-700 hover:underline"
            >Netlify Forms</a
          > or

          <a href="" class="font-semibold text-green-700 hover:underline"
            >FormSpree</a
          > can help you do this without a backend.
        </p>

        <div class="mt-12">
          <form action="#" class="grid grid-cols-2 gap-6">
            <div class="col-span-1">
              <label for="name" class="block">Name</label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Your name"
                class="block w-full rounded-md border-0 text-gray-900 shadow placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-green-600 p-4 mt-2"
              />
            </div>
            <div class="col-span-1">
              <label for="email" class="block">Email</label>
              <input
                type="text"
                name="email"
                id="email"
                placeholder="Your email"
                class="block w-full rounded-md border-0 text-gray-900 shadow placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-green-600 p-4 mt-2"
              />
            </div>

            <div class="col-span-2">
              <label for="message" class="block">Message</label>
              <textarea
                rows="8"
                name="message"
                id="message"
                class="block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-green-600 p-4 mt-2"
                placeholder="Enter your message here"></textarea>
            </div>

            <div class="col-span-2">
              <div class="flex justify-end w-full">
                <input
                  type="submit"
                  value="Submit"
                  class="block bg-green-700 hover:bg-green-800 text-white text-sm font-semibold tracking-wide uppercase shadow rounded cursor-pointer px-6 py-3"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="contact bg-gray-200 text-center py-12 pb-24">
      <div class="max-w-xl mx-auto">
        <h3 class="text-xl font-bold">Join my newsletter</h3>
        <p class="mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
          officia nisi eos porro, repellendus commodi debitis.
        </p>
        <form action="#" class="flex flex-col sm:flex-row mt-8">
          <input
            type="text"
            name="email-newsletter"
            id="email-newsletter"
            placeholder="Your email address"
            class="block flex-1 w-full rounded-md border-0 text-gray-900 shadow sm:rounded-r-none placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-green-600 p-4"
          />
          <button
            class="flex-2f uppercase bg-green-700 text-white rounded sm:rounded-l-none fpy-3 px-8 tracking-wide shadow focus:outline-none hover:bg-green-800 focus:bg-green-800 z-10 w-full sm:w-auto sm:mt-0"
            ><span>Subscribe</span>
          </button>
        </form>
      </div>
    </section>
  </main>
</Layout>
