---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Single Post">
  <main>
    <section class="mx-auto max-w-3xl dark:text-gray-100 mt-40 px-4 xl:px-0">
      <div class="post py-8">
        <h2 class="text-3xl font-bold">Introduction to Astro</h2>
        <div class="text-base flex gap-2 mt-1">
          <span>Nov 8, 2023</span>
          <span>&middot;</span>
          <span>1 min read</span>
        </div>
        <div class="text-gray-600 dark:text-gray-300 mt-4">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam iste,
          odio beatae cumque nisi error aspernatur dolores illum ratione velit
          ipsum atque consectetur corporis voluptas. Repellat ipsum distinctio
          nobis, praesentium esse accusamus tempore rerum et perferendis porro
          illo eligendi ab.
        </div>
        <div class="mt-4">
          <a
            href="/blog"
            class="font-bold uppercase hover:text-gray-500 dark:hover:text-gray-300"
          >
            Back to Blog
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
