---
const { tags } = Astro.props as {
  tags: Array<string>
}
---

<ul
  class="flex items-center text-indigo-600 dark:text-indigo-300 flex-wrap text-base gap-x-4 mt-1"
>
  {
    tags.map(tag => (
      <li>
        <a
          href={`/tags/${tag}`}
          class="hover:text-indigo-400 dark:hover:text-indigo-200"
        >
          {tag}
        </a>
      </li>
    ))
  }
</ul>
